<ion-view title="Información" hide-back-button ="false">
     <ion-nav-bar class="bar-stable bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-dark button-block  icon-left ion-android-add">Confirmar asistencia</button>
        <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <h4>Participantes</h4>
    </ion-content>
</ion-view>