<ion-view title="Eventos">
    <ion-content ng-controller="ListCtrl" overflow-scroll="true" padding="true" class="has-header">
       
       <ion-list ng-repeat="event in events">
        <div class="list card">     
                <div class="item event-title">
                    <h2>{{event.info.ev_title}}</h2>
                    <h3>{{event.date}} <i class="icon ion-clock time-icon"></i></h3>
                </div>

            <div class="item item-image item-body">
                <img src="{{event.image[0]}}">
                <p>
                {{event.info.ev_short_description}}
                </p>
            </div>
            <a class="item item-icon-left dark more-detail" href="#">
                Detalles
                <i class="icon ion-chevron-right"></i>
            </a>
            </div>    
        </ion-list>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
        
    </ion-content>
</ion-view>