
<ion-view view-title="Login">
    <ion-nav-bar class="bar-stable bar-dark">
      </ion-nav-bar>
	<ion-content>
        <div class="item item-image">
            <img class="logo" ng-src="http://orig10.deviantart.net/393c/f/2011/131/5/d/random_logo_concept_by_naraosga-d3g51r9.png">
        </div>
		<div class="list card">
			<div class="item item-input">
				<input type="text" placeholder="Username"
					ng-model="credentials.user">
			</div>
			<div class="item item-input">
				<input type="password" placeholder="Password"
					ng-model="credentials.password">
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-dark"
				ng-click="login()">Login</button>
		</div>
        
        <div class="padding">
			<button class="button button-block button-dark"
				us-sref="register">Registrarse</button>
		</div>
        
	</ion-content>
</ion-view>