/* Empty. Add your own CSS if you like */
.list:last-child.card{
    margin-bottom:3px;
}

.list .item-body{
    text-align: justify;
}

.list .item-body p{
    text-overflow: ellipsis;    
}

.menu .item{
    background: #444;
    color: #FFF;
}

.menu .item h2, .menu .item p{
    color: #fff; 
}

.menu .item.item-complex a,
.menu .scroll-content{
    background:  #444;
    color: #FFF;
}

.menu .scroll{
    background:  #444;
    color: #FFF;
    }

.time-icon{
    font-size: 18px;
    margin-left: 5px;
}

.logo{
    max-width: 250px;
}

.more-detail{
    width: 100%;
    text-align: right;
    background: #fff;
}

.more-detail .participants{
    float: left;
    width: 50%;
    padding-left: 35px;
    text-align: left;
}

.more-detail .detail{
    float: right;
    width: 50%;
    padding-right: 35px;
    text-align: right;
}

hr {
    background-color: #DDDDDD;
    height: 1px;
    border: 0;
    margin: 18px 0px;
}

.event-title{
   background: #E6E6E6;
}

.back-button.hide{
    display: block!important;
}

.back-button.hide .default-title{
    display: none!important;
}

.platform-android .bar .title{
    left: 0px!important;
    text-align: center;
}

p {
    text-align: justify;
}

.participant .item{
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 0px;
}

.participant .item:last-child{
    margin-bottom: 0px;
    margin-top: -3px;
}

.platform-android .bar .title {
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
}