/* Empty. Add your own CSS if you like */
.list:last-child.card{
    margin-bottom:3px;
}

.list .item-body{
    text-align: justify;
}

.list .item-body p{
    text-overflow: ellipsis;    
}

.menu .item{
    background: #444;
    color: #FFF;
}

.menu .item h2, .menu .item p{
    color: #fff; 
}

.menu .item.item-complex a,
.menu .scroll-content{
    background:  #444;
    color: #FFF;
}

.menu .scroll{
    background:  #444;
    color: #FFF;
    }

.time-icon{
    font-size: 18px;
    margin-left: 5px;
}

.logo{
    max-width: 250px;
}

.more-detail{
    width: 100%;
    text-align: right;
}

.more-detail .participants{
    float: left;
    width: 50%;
    padding-left: 35px;
    text-align: left;
}

.more-detail .detail{
    float: right;
    width: 50%;
    padding-right: 35px;
    text-align: right;
}

.event-title{
   background: #E6E6E6;
}